@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables for light/dark mode */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-open-sans), sans-serif; /* Default font */
}

/* Utility for text wrapping */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p, a, li, div, span {
  font-family: var(--font-open-sans), sans-serif; /* Ensure Open Sans applies to main text elements */
}


/* Include any specific styles for headers to use Montserrat */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat), sans-serif; /* Ensure headers use Montserrat */
}

button {
  font-family: var(--font-montserrat); /* Use Montserrat for buttons */
}
